<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <username>${env.USER_NAME}</username>
            <password>${env.PASSWORD}</password>
            <id>central-jfrog</id>
        </server>
        <server>
            <username>${env.USER_NAME}</username>
            <password>${env.PASSWORD}</password>
            <id>snapshots-jfrog</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>github</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>https://repo.maven.apache.org/maven2</url>
                </repository>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/AndreyKaBelka/*</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central-jfrog</id>
                    <name>default-maven-virtual</name>
                    <url>https://andreyka.jfrog.io/artifactory/default-maven-virtual</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots-jfrog</id>
                    <name>default-maven-virtual</name>
                    <url>https://andreyka.jfrog.io/artifactory/default-maven-virtual</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central-jfrog</id>
                    <name>default-maven-virtual</name>
                    <url>https://andreyka.jfrog.io/artifactory/default-maven-virtual</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots/>
                    <id>snapshots-jfrog</id>
                    <name>default-maven-virtual</name>
                    <url>https://andreyka.jfrog.io/artifactory/default-maven-virtual</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>